<section>
    <div class="row" style="text-align:center">
        <div class="col-4">
            <img src="{{img_url "assets/images/Graphic-1-transparent.png"}}" style="display:inline-block" width="33%" height="auto">
            <h4>Empowerment.</h4>
            <p>Our vision—a world where youth are empowered to make informed decisions about their futures. No matter how old you are, no matter where or what you study.</p>
        </div>
        <div class="col-4">
            <img src="{{img_url "assets/images/Graphic-2-transparent.png"}}" style="display:inline-block" width="33%" height="auto">
            <h4>Any Industry Imaginable.</h4>
            <p>Aerospace engineer. Photojournalist. Investment analyst. Acoustic designer. If the occupation and industry exists - we do our best to give you personal and in-depth interviews with people working there.</p>
        </div>
        <div class="col-4">
            <img src="{{img_url "assets/images/Graphic-2-transparent.png"}}" style="display:inline-block" width="33%" height="auto">
            <h4>Free. Forever.</h4>
            <p>This is our promise - we believe everyone deserves a chance to fulfill their dreams.</p>
        </div>
    </div>
    <div class="row" style="text-align:center">
        <h2>Our Partners</h2>
        <div class="col-3">
            <img src="{{img_url "assets/images/Inspirit.jpg"}}">
        </div>
        <div class="col-3">
            <img src="{{img_url "assets/images/NYC.jpg"}}">
        </div>
        <div class="col-3">
            <img src="{{img_url "assets/images/YCS.jpg"}}">
        </div>
        <div class="col-3">
            <img src="{{img_url "assets/images/YoungNTUC.jpg"}}">
        </div>
    </div>
    <div class="row" style="text-align:center">
        <h2>As Featured By:</h2>

    </div>
</section>
