<script type="text/javascript">
    // set the values that we'll use in the bootstrap-pagination.js file
    {{!if there is no value for the variable, display a 0}}
    prev = {{#if prev}}{{prev}}{{else}}0{{/if}};
    pages = {{#if pages}}{{pages}}{{else}}0{{/if}};
    page = {{#if page}}{{page}}{{else}}0{{/if}};
    next = {{#if next}}{{next}}{{else}}0{{/if}};
    pageUrl = '{{page_url}}';
    pageUrlPrev = '{{page_url prev}}';
    pageUrlNext = '{{page_url next}}';
    pageUrlFirst = '{{page_url 1}}';
    pageUrlLast = '{{page_url pages}}';
</script>

<div class="col-12 d-flex justify-content-center">
<nav aria-label="Page navigation">
<ul class="pagination" role="navigation" aria-label="Pagination">
    {{#if prev}}
    <li class="page-item pagination-previous">
      <a class="page-link " href="{{page_url prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{else}}
      <li class="page-item pagination-previous d-none">
        <a class="page-link " href="{{page_url prev}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {{/if}}
    {{#if next}}
      <li class="page-item pagination-next">
        <a class="page-link " href="{{page_url next}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {{else}}
      <li class="page-item pagination-next d-none">
        <a class="page-link " href="{{page_url next}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {{/if}}
</ul>
</nav>
</div>
