<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <link rel="stylesheet" type="text/css" href="{{asset "built/main.css"}}" />
        <title>{{meta_title}}</title>
        {{ghost_head}}
    </head>
    <body class="{{body_class}} overflow-x-hidden overflow-y-scroll min-h-screen font-normal bg-white">
        <div class="flex flex-col">
            <header id="gh-head" class="gh-head">
                <nav class="gh-head-inner w-full max-w-screen-xl mx-auto my-0">
                    <div class="gh-head-brand">
                        <a class="gh-head-logo" href="{{@site.url}}">
                            {{#if @site.logo}}
                                <img src="{{@site.logo}}" alt="{{@site.title}}" />
                            {{else}}
                                {{@site.title}}
                            {{/if}}
                        </a>
                        <a class="gh-burger" role="button">
                            <div class="gh-burger-box">
                                <div class="gh-burger-inner"></div>
                            </div>
                        </a>
                    </div>
                    <div class="gh-head-menu">
                        {{navigation}}
                    </div>
                </nav>
            </header>

            <main class="flex flex-col flex-auto">
                {{{body}}}
                {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
            </main>

            {{> footer }}
        </div>

        {{!-- <foot> --}}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

        {{> "api-keys"}}
        <script src="https://cdn.jsdelivr.net/gh/gmfmi/searchinghost-easy@latest/dist/searchinghost-easy-backpack.js"></script>
        <script>
            new SearchinGhostEasy({ contentApiKey: ADVISORY.CONTENT_API_KEY });
        </script>
        {{#is "home"}}
        <script src="https://unpkg.com/@tryghost/content-api@latest/umd/content-api.min.js"></script>
        <script src="{{asset "built/eventCardFetcher.js"}}"></script>
        {{/is}}
        {{#is "stories"}}
        <script src="{{asset "built/storiesFilter.js"}}"></script>
        {{/is}}
        {{ghost_foot}}
        {{!-- Outputs important scripts - should always be included before closing body tag --}}
    </body>
</html>
