{{!< default}}

<section class="w-full max-w-screen-xl mx-auto my-0">
    <section class="prose text-center max-w-screen-sm mx-auto">
        <h1 class="text-8xl mx-0 my-0">
            {{statusCode}}
        </h1>
        <p class="text-xl mx-0 my-0">
            {{message}}
        </p>
        <p class="text-base mx-0 my-3">
            <a href="{{@site.url}}">
                Go to the front page →
            </a>
        </p>

        {{#if errorDetails}}
        <section class="text-left py-4">
            <h4>
                Theme errors:
            </h4>
            <ul class="text-sm mt-2">
                {{#foreach errorDetails}}
                    <li class="px-0 py-5 m-0">
                        <h5 class="mb-0.5 border-t border-gray-300">
                            {{{rule}}}
                        </h5>
    
                        {{#foreach failures}}
                            <span>
                                <strong>
                                    Ref:
                                </strong>
                                {{ref}}
                            </span>
                            <br />
                            <span>
                                <strong>
                                    Message:
                                </strong>
                                {{message}}
                            </span>
                        {{/foreach}}
                    </li>
                {{/foreach}}
            </ul>
        </section>
        {{/if}}
    </section>
</section>
