{{!< default}}

<div class="w-full max-w-screen-xl mx-auto my-0 prose lg:prose-xl max-w-none">

    <!-- IMPACT-OUR-IMPACT -->
    <div class="row">
        <header class="gh-header gh-canvas">
            <div class="col-xs-12 col-md-12 col-lg-12 mb-5">
                <h1>Our Impact</h1>
            </div>
        </header>
        <div class="col-xs-12 col-md-8 col-lg-8">
            <div class="gh-card">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <p class="h2 mb-0 gh-card-title">{{title}}There once lived an old man and an old woman who were peasants and had to work hard to earn their daily bread. The old man used to go to fix fences and do other odd jobs for the farmers around, and while he was gone the old woman, his wife, did the work of the house and worked in their own little plot of land.<br><br>
                            Do you really listen when you are talking with someone? I have a friend who listens in an unforgiving way. She actually takes every word you say as being something important and when you have a friend that listens like that, words take on a whole new meaning.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="gh-card">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <h1 class="mb-0 gh-card-title">{{title}}<br><br>10,000 Beneficiaries<br><br></h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="gh-card">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <h1 class="mb-0 gh-card-title">{{title}}<br><br>10,000 Programmes<br><br></h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="gh-card">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <h1 class="mb-0 gh-card-title">{{title}}<br><br>10,000 <br>Articles<br><br></h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="gh-card">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <h1 class="mb-0 gh-card-title">{{title}}<br><br>10,000 Partnerships<br><br></h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- IMPACT-QUOTES -->
    <div class="row mt-5">
        <header class="gh-header gh-canvas">
            <div class="col-xs-12 col-md-12 col-lg-12 mb-5">
                <h1>Quotes</h1>
            </div>
        </header>
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="featured-post-slider">
                <!-- TO DO -->
            </div>
        </div>
    </div>

    <!-- IMPACT-PARTNERSHIPS -->
    <div class="row mt-5">
        <header class="gh-header gh-canvas">
            <div class="col-xs-12 col-md-12 col-lg-12 mb-5">
                <h1>Partnerships</h1>
            </div>
        </header>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </div>

    <!-- IMPACT-FEATURES -->
    <div class="row mt-5">
        <header class="gh-header gh-canvas">
            <div class="col-xs-12 col-md-12 col-lg-12 mb-5">
                <h1>Features</h1>
            </div>
        </header>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
                <a class="gh-card-link" href="{{url}}">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row align-items-center mb-4 shadow-sm h-md-250 position-relative">
                        {{#if feature_image}}
                        <div class="col-lg d-block">
                            <img class="gh-card-image"
                                srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w,
                                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 400px, 700px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                        {{/if}}
                        <div class="col-lg p-4 d-flex flex-column position-static gh-card-content">
                            <!--<span class="gh-card-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                &bull; {{reading_time}}
                            </span>-->
                            <p class="mb-0 gh-card-title">{{title}}<br><br>picture<br><br></p>
                            <!--<p class="card-text mb-auto">{{excerpt}} <span class="text-primary">Lorem&nbsp;Ipsum</span></p>-->
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </div>

    <!-- IMPACT-REPORTS -->
    <div class="row mt-5">
        <header class="gh-header gh-canvas">
            <div class="col-xs-12 col-md-12 col-lg-12 mb-5">
                <h1>Reports</h1>
            </div>
        </header>
    </div>
</div>
