{{!< default}}

{{#post}}
    <div class="{{post_class}} gh-canvas">
        <article class="prose lg:prose-xl">
            <header class="gh-header">
                <h1 id="title">
            <header class="gh-header text-center">
                <h1>
                    {{title}}
                </h1>
                <span class="gh-post-meta text-sm tracking-wide uppercase opacity-80">
                    <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{date format="D MMM YYYY"}}
                    </time>
                    <span>
                        Tags:&nbsp;
                        {{#foreach tags}}
                            <span class="gh-post-meta-content-item">
                                <a href={{url}}>
                                    {{name}}
                                </a>
                            </span>
                        {{/foreach}}
                    </span>
                    <span>
                        Written by:&nbsp;
                        {{#foreach authors}}
                            <span class="gh-post-meta-content-item">
                                <a href={{url}}>
                                    {{name}}
                                </a>
                            </span>
                        {{/foreach}}
                    </span>
                </span>

                {{#if custom_excerpt}}
                    <p>
                        {{custom_excerpt}}
                    </p>
                {{/if}}
            </header>

            <div class="gh-content">
                {{#if feature_image}}
                    <img
                        class="w-full mt-2.5"
                        src="{{feature_image}}"
                        alt="{{title}}"
                    />
                    
                {{/if}}

                {{content}}

                    <span class="float-right">
                        Share this article
                        <a href="https://www.facebook.com" class="fab fa-facebook-square fa-2x" id="facebookButton"></a>
                        <a href="https://www.twitter.com" class="fab fa-twitter-square fa-2x " id="twitterButton"></a>
                        <a href="https://www.linkedin.com" class="fab fa-linkedin fa-2x " id="linkedinButton"></a>
                    </span>

            </div>
        </article>
{{/post}}
<script type="text/javascript">

    var facebookButton = document.getElementById("facebookButton");
    var twitterButton = document.getElementById("twitterButton");
    var linkedinButton = document.getElementById("linkedinButton");
    var title = document.getElementById("title").innerText;
    var postUrl = encodeURI(document.location.href);
    facebookButton.setAttribute(
        "href",
        `https://www.facebook.com/sharer.php?u=${postUrl}`
    );

    twitterButton.setAttribute(
        "href",
        `https://twitter.com/share?text=${title}`
    );

    linkedinButton.setAttribute(
        "href",
        `https://www.linkedin.com/shareArticle?url=${postUrl}&title=${title}`
    );
</script>
{{!-- implementation of related articles --}}
{{!-- has to be outside post block due to conflict --}}
<hr class="pb-4">
<aside class="pb-4">
    <h4 class="text-4xl">
        Related Articles
    </h4> 
    <div class="grid grid-cols-1 p-1 gap-6 md:p-0 md:grid-cols-3 pt-4 pb-4">
        {{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags" as |related|}}
            {{#foreach related}}
                {{> "post-card"}}
            {{/foreach}}
            {{else}} <p>There are no related articles.</p>
        {{/get}}
    </div>
</aside>
