{{!< default}}

{{#post}}
    <div class="{{post_class}} gh-canvas">
        <article class="prose lg:prose-xl">
            <header class="gh-header">
                <h1>
                    {{title}}
                </h1>
                <span class="gh-post-meta">
                    <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{date format="D MMM YYYY"}}
                    </time>
                    <span>
                        Written by:&nbsp;
                        {{#foreach authors}}
                            <span class="gh-post-meta-content-item">
                                <a href={{url}}>
                                    {{name}}
                                </a>
                            </span>
                        {{/foreach}}
                    </span>
                    <span>
                        Reading Time:&nbsp;
                        {{reading_time}}
                    </span>
                </span>
                
                <span class="flex flex-auto content-center gap-2 justify-center"> 
                    <div class="text-base">Tags:</div>
                {{#foreach tags}}
                    {{#if @last}}
                        <a class="text-base" href={{url}}>
                            {{name}} 
                        </a>
                    {{else}}
                        <a class="text-base" href={{url}}>
                            {{name}} 
                        </a>
                        <div class="text-base">|</div>
                    {{/if}}
                {{/foreach}}
                </span>
                 
                {{#if custom_excerpt}}
                    <p>
                        {{custom_excerpt}}
                    </p>
                {{/if}}
            </header>

            <div class="gh-content">
                {{#if feature_image}}
                    <img
                        class="gh-feature-image"
                        src="{{feature_image}}"
                        alt="{{title}}"
                    />
                {{/if}}
                {{content}}
            </div>

            <footer class="gh-post-footer">
                {{! <section class="gh-post-comments">
                <div class="gh-post-comments-header-container">
                    <div class="gh-post-comments-header-item gh-post-comments-header">Responses</div> 
                    <div class="gh-post-comments-header-item gh-post-comments-other">
                        <div class="gh-post-comments-share">Share</div>
                        <div class="gh-post-comments-more">More</div>
                    </div> 
                </div>
                If you want to embed comments, this is a good place to do it!
            </section> }}
            </footer>
        </article>
{{/post}}

{{!-- implementation of related articles --}}
{{!-- has to be outside post block due to conflict --}}
<hr class="pb-4">
<aside class="pb-4">
    <h4 class="text-4xl">
        Related Articles
    </h4> 
    <div class="grid grid-cols-1 p-1 gap-6 md:p-0 md:grid-cols-3 pt-4 pb-4">
        {{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags" as |related|}}
            {{#foreach related}}
                {{> "post-card"}}
            {{/foreach}}
            {{else}} <p>There are no related articles.</p>
        {{/get}}
    </div>
</aside>
