{{!< default}}

<div class="w-full max-w-screen-xl mx-auto my-0">
    {{#tag}}
    <header class="prose lg:prose-xl mx-auto text-center">
        <h1>{{name}}</h1>

        <p>
            {{#if description}}
                {{description}}
            {{/if}}
        </p>

        {{#if feature_image}}
            <img class="gh-page-image" src="{{feature_image}}" alt="{{name}}" />
        {{/if}}
    </header>

    <div class="px-0 py-12 p-4">
    {{#get "posts" limit="all" filter="tags:{{name}}" include="tags" as |tagged|}}
        {{#foreach tagged}}
            {{> "card"}}
        {{/foreach}}
        {{else}} <h1>No Articles!</h1>
    {{/get}}
    </div>
    {{/tag}}
</div>
